<div class="container mt-4 pt-5" *ngIf="!showlogin">

    <div class="row">    
     <div class="col-md-6">
        <div class="card">
            <div class="card-body">
             <h2 class="text-center">Sign Up</h2>   
          <form>
         <input type="text" class="form-control my-3 py-2" id="" name="name"  placeholder="Name">
         <input type="password" class="form-control my-3 py-2" id="" name="password"  placeholder="Password">
         <input type="email" class="form-control my-3 py-2" id="" name="email"  placeholder="Email">
            <div class="text-center mt-3">
                <button class="btn btn-primary">sign up</button>
                <a (click)="goLogin()" class="nav-link">Already have an account?Click to login</a>
            </div>

          </form>
        </div>
     </div>
     </div>
    </div>
</div>
                    <!-- login form start-->


                    <div class="container mt-4 pt-5" *ngIf="showlogin">

                        <div class="row">    
                         <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                 <h2 class="text-center">Login</h2>   
                              <form>
                            
                             <input type="password" class="form-control my-3 py-2" id="" name="password"  placeholder="Password">
                             <input type="email" class="form-control my-3 py-2" id="" name="email"  placeholder="Email">
                                <div class="text-center mt-3">
                                    <button class="btn btn-primary">Login</button>
                                    <a (click)="goSignup()" class="nav-link">Don't have account?Click to signup</a>
                                </div>
                    
                              </form>
                            </div>
                         </div>
                         </div>
                        </div>
                    </div>

















