<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fs-2 px-2">E-COMMERS</a>
    <form class="d-flex w-30%">
      <input class="form-control me-2" type="search" placeholder="Search here" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
    <ul class="d-flex ">
      <li><a routerLink="seller">Seller</a></li>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="">Login</a></li>
      <li><a routerLink="">Cart(0)</a></li>
    </ul>
    
  </div>
</nav>
  